.container {
  display: grid;
  grid-gap: 35px;
  height: 100vh;
  width: 65rem;
}

.first {
}

.second {
  grid-column: 1/1;
  grid-row: 2/2;
  gap: 15rem;
}

.third {
  grid-column: 2/2;
  grid-row: 1/1;
}

.fourth {
  grid-column-start: 1;
  grid-row-start: 1;
}
